<!DOCTYPE html>
<html>
<head>
    <title>Group Chat</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <div class="container">
        <h2>Group Chat</h2>
        <div id="group-messages" class="chat-messages"></div>
        <input type="text" id="group-input" placeholder="Type a message">
        <button id="group-send">Send</button>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/group_chat.js"></script>
</body>
</html>
