.signup-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#signup-form {
    display: flex;
    flex-direction: column;
}

#signup-form label, #signup-form input {
    margin: 5px 0;
}
